<h1>Incrementar minutos Timers</h1>

<form method="post">
    <label>Introduzca minutos a incrementar</label>
    <input type="number" name="minutes"
        class="form-control" required/>
    <button class="btn btn-info">
        Incrementar minutos
    </button>
</form>