ALTER TABLE TEMPORIZADORES  DROP  CONSTRAINT FK_TEMPORIZADORES_CATEGORIAS_TIMER
ALTER TABLE TIEMPOS_EMPRESAS_SALAS  DROP  CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_EMPRESAS
ALTER TABLE TIEMPOS_EMPRESAS_SALAS  DROP  CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_EVENTOS 
ALTER TABLE TIEMPOS_EMPRESAS_SALAS  DROP  CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_SALAS
ALTER TABLE TIEMPOS_EMPRESAS_SALAS  DROP  CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_TEMPORIZADORES 
DELETE FROM CATEGORIAS_TIMER
DELETE FROM EMPRESAS
DELETE FROM EVENTOS
DELETE FROM SALAS
DELETE FROM TEMPORIZADORES
DELETE FROM TIEMPOS_EMPRESAS_SALAS
DELETE FROM USUARIOS
INSERT CATEGORIAS_TIMER (IDCATEGORIA, CATEGORIA, DURACION) VALUES (1, N'WORK', 15)
INSERT CATEGORIAS_TIMER (IDCATEGORIA, CATEGORIA, DURACION) VALUES (2, N'MINI DESCANSO', 5)
INSERT CATEGORIAS_TIMER (IDCATEGORIA, CATEGORIA, DURACION) VALUES (3, N'DESCANSO LARGO', 60)
INSERT EMPRESAS (IDEMPRESA, EMPRESA, IMAGEN) VALUES (1, N'AVANADE', N'https://www.nomaspapel.es/assets/blog/5e99714cb4a08947402795.png')
INSERT EMPRESAS (IDEMPRESA, EMPRESA, IMAGEN) VALUES (2, N'DXC TECHNOLOGY', N'https://www.nomaspapel.es/assets/blog/5e99714cb4a08947402795.png')
INSERT EMPRESAS (IDEMPRESA, EMPRESA, IMAGEN) VALUES (3, N'MY CLOUD DOOR', N'https://www.nomaspapel.es/assets/blog/5e99714cb4a08947402795.png')

INSERT EVENTOS (IDEVENTO, EVENTO, INICIOEVENTO, FINEVENTO) VALUES (1, N'FORO EMPLEO MAÑANAS', CAST(N'2023-02-01T10:05:00.000' AS DateTime), CAST(N'2023-02-01T12:00:00.000' AS DateTime))
INSERT EVENTOS (IDEVENTO, EVENTO, INICIOEVENTO, FINEVENTO) VALUES (2, N'FORO EMPLEO TARDES', CAST(N'2023-02-01T16:00:00.000' AS DateTime), CAST(N'2023-02-01T20:00:00.000' AS DateTime))
INSERT SALAS (IDSALA, SALA) VALUES (1, N'DESARROLLO')
INSERT SALAS (IDSALA, SALA) VALUES (2, N'SISTEMAS')
INSERT TEMPORIZADORES (IDTIMER, INICIO, IDCATEGORIA, PAUSA) VALUES (1, CAST(N'2023-02-01T10:05:00.000' AS DateTime), 1, 0)
INSERT TEMPORIZADORES (IDTIMER, INICIO, IDCATEGORIA, PAUSA) VALUES (2, CAST(N'2023-02-01T10:20:00.000' AS DateTime), 2, 0)
INSERT TEMPORIZADORES (IDTIMER, INICIO, IDCATEGORIA, PAUSA) VALUES (3, CAST(N'2023-02-01T10:25:00.000' AS DateTime), 1, 0)
INSERT TIEMPOS_EMPRESAS_SALAS (UNIQUEID, IDTIMER, IDEMPRESA, IDSALA, IDEVENTO) VALUES (1, 1, 2, 1, 1)
INSERT TIEMPOS_EMPRESAS_SALAS (UNIQUEID, IDTIMER, IDEMPRESA, IDSALA, IDEVENTO) VALUES (2, 3, 1, 1, 1)
INSERT TIEMPOS_EMPRESAS_SALAS (UNIQUEID, IDTIMER, IDEMPRESA, IDSALA, IDEVENTO) VALUES (3, 5, 5, 1, 1)



INSERT USUARIOS (IDUSUARIO, USERNAME, PASS) VALUES (1, N'JUAN', N'Bicicleta35+')
INSERT USUARIOS (IDUSUARIO, USERNAME, PASS) VALUES (2, N'ADMIN', N'timers365')
ALTER TABLE TEMPORIZADORES  WITH CHECK ADD  CONSTRAINT FK_TEMPORIZADORES_CATEGORIAS_TIMER FOREIGN KEY(IDCATEGORIA)
REFERENCES CATEGORIAS_TIMER (IDCATEGORIA)
ALTER TABLE TEMPORIZADORES CHECK CONSTRAINT FK_TEMPORIZADORES_CATEGORIAS_TIMER
ALTER TABLE TIEMPOS_EMPRESAS_SALAS  WITH CHECK ADD  CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_EMPRESAS FOREIGN KEY(IDEMPRESA)
REFERENCES EMPRESAS (IDEMPRESA)
ALTER TABLE TIEMPOS_EMPRESAS_SALAS CHECK CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_EMPRESAS
ALTER TABLE TIEMPOS_EMPRESAS_SALAS  WITH CHECK ADD  CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_EVENTOS FOREIGN KEY(IDEVENTO)
REFERENCES EVENTOS (IDEVENTO)
ALTER TABLE TIEMPOS_EMPRESAS_SALAS CHECK CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_EVENTOS
ALTER TABLE TIEMPOS_EMPRESAS_SALAS  WITH CHECK ADD  CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_SALAS FOREIGN KEY(IDSALA)
REFERENCES SALAS (IDSALA)
ALTER TABLE TIEMPOS_EMPRESAS_SALAS CHECK CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_SALAS
ALTER TABLE TIEMPOS_EMPRESAS_SALAS  WITH CHECK ADD  CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_TEMPORIZADORES FOREIGN KEY(IDTIMER)
REFERENCES TEMPORIZADORES (IDTIMER)
ALTER TABLE TIEMPOS_EMPRESAS_SALAS CHECK CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_TEMPORIZADORES
